.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    margin: 5px;
}

.keyboard {
	max-width: 240px;
}

.submit {background-color: #4CAF50;} 
.submit:hover {background-color: #46a049;}

.cancel {background-color: #ff9800;} 
.cancel :hover {background: #e68a00;}

.clear {background-color: #f44336;} 
.clear:hover {background: #da190b;}

.number {background-color: #e7e7e7; color: black;}
.number:hover {background: #ddd;}
.brd {
    border: 4px double black; 
    background: #ddd; 
    padding: 14px 28px; 
   }
.centered {
    margin: 0 auto;
    text-align: left;
    width: 800px;
}   